/* -------------------------------- */
/* VARIABLES */
/* -------------------------------- */

html {
  --background-color-medium: #f4f5f9;
  --background-color-default: #ccd8e4;
  --border-default: solid 1px var(--background-color-default);
}

/* -------------------------------- */
/* GENERAL */
/* -------------------------------- */

body {
  margin: 0;
  padding: 5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  resize: none;
}

pre {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.transcript {
  background: var(--background-color-medium);
  border: var(--border-default);
}

/* -------------------------------- */
/* UTILS */
/* -------------------------------- */

.flex {
  display: flex;
}

.mh05 {
  margin: 0 0.5rem;
}

.mr05 {
  margin-right: 0.5rem;
}

.mv1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
