/* -------------------------------- */
/* VARIABLES */
/* -------------------------------- */

html {
  --primary-color: #3b81fb;
  --primary-color-x-light: #3b81fb10;
  --primary-color-dark: #1859ca;
  --background-color-medium-light: #f4f5f9;
  --background-color-medium: #c4d9ff;
  --border-color-default: #ccd8e4;
  --border-default: solid 1px var(--border-color-default);
  --font-color-default: #001d50;
  --font-color-inverted: white;
  font-size: 14px;
}

/* -------------------------------- */
/* GENERAL */
/* -------------------------------- */

body {
  margin: 0;
  padding: 5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color-default);
}

/* -------------------------------- */
/* INPUTS AND CONTROLS */
/* -------------------------------- */

button,
input,
textarea,
select {
  font-size: 1rem;
  color: var(--font-color-default);
}

textarea {
  resize: none;
  border: var(--border-default);
  padding: 1.2rem;
  transition: background 0.2s ease-out, border 0.2s ease-out;
}

textarea:focus {
  background: var(--primary-color-x-light);
  outline: none;
  border: solid 1px var(--primary-color);
}

pre {
  font-size: 1rem;
  font-family: inherit;
}

.transcript {
  background: var(--background-color-medium-light);
  border: var(--border-default);
}

.bubble {
  max-width: 100%;
  border-radius: 3px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* -------------------------------- */
/* UTILS */
/* -------------------------------- */

/* Layout */

.flex {
  display: flex;
}

.mh05 {
  margin: 0 0.5rem;
}

.mr2 {
  margin-right: 2rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.flex-1 {
  flex: 1;
}

/* Buttons */

.btn-primary {
  padding: 0.8rem;
  border: none;
  min-width: 10rem;
  font-weight: bold;
  background: var(--primary-color);
  border-radius: 2px;
  box-shadow: 0px 4px 10px rgba(59, 129, 251, 0.25);
  color: var(--font-color-inverted);
  outline: none;
  cursor: pointer;
  transition: background 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary:hover {
  background: var(--primary-color-dark);
}
